<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite Pokemon</title>
  <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
  <div>
    <h1>Here's Your Favorite Pokemon!</h1>
    <button><a href="/">Back Home</a></button>
  </div>

  <ul>
    <% favPokemon.forEach(pokemon => { %>
      <li>
        <p><%=pokemon.name%></p>
        <img src="<%=pokemon.img_url%>" alt="">
      </li>
    <% }) %>

  </ul>
</body>
</html>