<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Here's All The Pokemon We've Got!</h1>
  <ul>
    <% favPokemon.forEach(pokemon => { %>
      <li><%=pokemon.name%></li>
      <li><img src="<%=pokemon.img_url%>" alt=""></li>
    <% }) %>

  </ul>
</body>
</html>